<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Self parking</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/images/logo.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
            href="assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <script
            async
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
            async
            src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"
    ></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
getAllCars()
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/images/logo.png" alt="" />
            <span class="d-none d-lg-block">Safe parking</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <div class="search-bar">
        <form
                class="search-form d-flex align-items-center"
                method="POST"
                action="#"
        >
            <input
                    type="text"
                    name="query"
                    placeholder="Search"
                    title="Enter search keyword"
            />
            <button type="submit" title="Search">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle" href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <!-- End Search Icon-->

            <li class="nav-item dropdown pe-3">
                <a
                        class="nav-link nav-profile d-flex align-items-center pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                >
                    <img
                            src="assets/img/profile-img.jpg"
                            alt="Profile"
                            class="rounded-circle"
                    />
                    <span class="d-none d-md-block dropdown-toggle ps-2"
                    >K. Anderson</span
                    > </a
                ><!-- End Profile Iamge Icon -->
            </li>
            <!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Register</span>
            </a>
        </li>
        <!-- End Profile Page Nav -->
    </ul>
</aside>
<!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Register car</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Register</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-5">
                <div class="card">
                    <form method="post" action="/register" th:object="${carRequest}" onsubmit="createCar">
                        <div
                                class="card-body profile-card pt-4 d-flex flex-column align-items-center gap-4"
                        >
                            <div class="col-12">
                                <label for="plateNumber" class="form-label"
                                >Plate Number</label
                                >
                                <div class="input-group has-validation">
                      <span class="input-group-text" id="id4"
                      ><img
                              src="./assets/images/number-plate.ico"
                              draggable="false"
                              style="max-width: 40px; height: 30px"
                      /></span>
                                    <input
                                            id="plateNumber"
                                            type="text"
                                            name="plateNUmber"
                                            class="form-control"
                                            placeholder="Car plate number"
                                            required
                                    />
                                    <div class="invalid-feedback">
                                        Please enter your plate number.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="ownerName" class="form-label"
                                >Owner names</label
                                >
                                <div class="input-group has-validation">
                      <span class="input-group-text" id="id1"
                      ><img
                              src="./assets/images/user.ico"
                              draggable="false"
                              style="max-width: 40px; height: 30px"
                      /></span>
                                    <input
                                            id="ownerName"
                                            type="text"
                                            name="ownerNames"
                                            class="form-control"
                                            placeholder="Car owner names"
                                            required
                                    />
                                    <div class="invalid-feedback">
                                        Please enter your owner names.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="telephone" class="form-label"
                                >Owner phone contact</label
                                >
                                <div class="input-group has-validation">
                      <span class="input-group-text" id="id2"
                      ><img
                              src="./assets/images/phone.ico"
                              draggable="false"
                              style="max-width: 40px; height: 30px"
                      /></span>
                                    <input
                                            id="telephone"
                                            type="telephone"
                                            name="contact"
                                            class="form-control"
                                            placeholder="Car owner phone contact"
                                            required
                                    />
                                    <div class="invalid-feedback">
                                        Please enter your owner phone contact.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="ownerEmail" class="form-label"
                                >Owner email contact</label
                                >
                                <div class="input-group has-validation">
                      <span class="input-group-text" id="id3"
                      ><img
                              src="./assets/images/email.ico"
                              draggable="false"
                              style="max-width: 40px; height: 30px"
                      /></span>
                                    <input
                                            id="ownerEmail"
                                            type="email"
                                            name="email"
                                            class="form-control"
                                            placeholder="Car owner email contact"
                                            required
                                    />
                                    <div class="invalid-feedback">
                                        Please enter your owner email contact.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pt-5">
                                <button class="btn btn-primary w-100" onclick="createCar()" type="submit">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xl-7">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Plate Number</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody class="table-rows" id="carTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Self parking</span></strong
    >. All Rights Reserved
    </div>
</footer>
<!-- End Footer -->

<a
        href="#"
        class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script async src="assets/js/app.js" />
<script src="assets/js/main.js"></script>
</body>
</html>
